logs/*
!.gitkeep
node_modules/
bower_components/
tmp
.DS_Store
.idea
.vbfolder_*

[Oo]bj/
source/**/[Bb]in/
specs/**/[Bb]in/
.nuget/
_ReSharper.*
packages/
artifacts/
*.user
*.cache
*.suo
*.userprefs
*DS_Store
*.sln.ide
lib/license.xml
lib/Sitecore/*
!lib/Sitecore/readme.MD
lib/System/*
!lib/System/readme.MD
.sonar
vars.user.cmd
/target
/node_modules
temp/
*.ncrunchproject
*.ncrunchsolution
.vscode
nCrunchTemp*.*
*.pubxml
.htaccess
*.sitecore
*.lic
/source/.vs
/source/gulp-config.js
/source/lib/license.xml
/source/publishsettings.targets
/source/src/Foundation/Principal.Serialization/App_Config/Include/z.Principal.SerializationSettings.config
/source/TestResults
/source/src/Project/MpfPortal/Principal.MpfPortal.Web/App_Config/ConnectionStrings.config.transform
source/src/Project/MpfPortal/Principal.MpfPortal.Domain/app.config
/source/src/Project/MpfPortal/Principal.MpfPortal.Web/Content/mpfportal/app/app.settings.js
/source/src/Project/MpfPortal/Principal.MpfPortal.Web/assets/mpfportal/app/app.settings.js
!Principal.Sitecore
/source/src/Foundation/Principal.Sitecore/.vs/config
/source/src/Project/MpfPortal/Principal.MpfPortal.Web/assets/mpfportal/app.settings.js
Source Code/DMS/DMS/assets/images/
